body {
    margin: 0;
    background: #666;
  }
  a{
    text-decoration: none;
  }
  .accept {
    color: #FFF;
    background: #44CC44;
    padding: 15px 20px;
    box-shadow: 0 4px 0 0 #2EA62E;
  }
  .accept:hover {
    background: #6FE76F;
    box-shadow: 0 4px 0 0 #7ED37E;
  }
  .deny {
    color: #FFF;
    background: tomato;
    padding: 15px 20px;
    box-shadow: 0 4px 0 0 #CB4949;
  }
  .deny:hover {
    background: rgb(255, 147, 128);
    box-shadow: 0 4px 0 0 #EF8282;
  }
  
  
  
  button {
      width: 150px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: red;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
      background: #e62222;
  }
  
  button, button span {
      transition: 200ms;
  }
  
  button .text {
      transform: translateX(35px);
      color: white;
      font-weight: bold;
  }
  
  button .icon {
      position: absolute;
      border-left: 1px solid #c41b1b;
      transform: translateX(110px);
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  button svg {
      width: 15px;
      fill: #eee;
  }
  
  button:hover {
      background: #ff3636;
  }
  
  button:hover .text {
      color: transparent;
  }
  
  button:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(0);
  }
  
  button:focus {
      outline: none;
  }
  
  button:active .icon svg {
      transform: scale(0.8);
  }